.back{
    background-color: beige;
}
.text1{
    font-family: "Ink Free";
    color: black;
}
.bigdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}